    /*Reset*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* Main Styling */
    
    html,
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 1.7em;
    }
    
    a {
        color: #333;
        text-decoration: none;
    }
    
    h1,
    h2,
    h3 {
        padding-bottom: 20px;
    }
    
    p {
        margin: 10px 0;
    }
    /* Utilities */
    
    .container {
        margin: auto;
        max-width: 1100px;
        overflow: auto;
        padding: 0 20px;
    }
    
    .text-primary {
        color: #f7c08a;
    }
    
    .lead {
        font-size: 20px;
    }
    
    .btn {
        display: inline-block;
        font-size: 20px;
        color: white;
        background: #333;
        padding: 13px 20px;
        border: none;
        cursor: pointer;
    }
    
    .btn:hover {
        background: #f7c08a;
        color: #333;
    }
    
    .btn-light {
        background: #f4f4f4;
        color: #333;
    }
    
    .bg-dark {
        background: #333;
        color: white;
    }
    
    .bg-light {
        background: #f4f4f4;
        color: #333;
    }
    
    .bg-primary {
        background: #f7c08a;
        color: #333;
    }
    
    .clr {
        clear: both;
    }
    
    .py-1 {
        padding: 10px 0;
    }
    
    .py-2 {
        padding: 20px 0;
    }
    
    .py-3 {
        padding: 30px 0;
    }
    
    .l-heading {
        line-height: 1.2;
        font-size: 40px;
    }
    /* Navbar */
    
    #navbar {
        background-color: #333;
        color: white;
        overflow: auto;
    }
    
    #navbar a {
        color: white;
    }
    
    #navbar h1 {
        float: left;
        padding-top: 20px;
    }
    
    #navbar ul {
        list-style: none;
        float: right;
    }
    
    #navbar ul li {
        float: left;
    }
    
    #navbar ul li a {
        display: block;
        padding: 20px;
        text-align: center;
    }
    
    #navbar ul li a:hover,
    .current {
        background-color: #444;
        color: #f7c08a;
    }
    /* Showcase */
    
    #showcase {
        background: url('../img/showcase.jpg') no-repeat center center/cover;
        height: 600px;
    }
    
    #showcase .showcase-content {
        color: white;
        text-align: center;
        padding-top: 170px;
    }
    
    #showcase .showcase-content h1 {
        font-size: 60px;
        line-height: 1.2em;
    }
    
    #showcase .showcase-content p {
        padding-bottom: 20px;
        line-height: 1.5em;
    }
    /* Home Info */
    
    #home-info {
        height: 450px;
    }
    
    #home-info .info-img {
        float: left;
        width: 50%;
        background: url('../img/photo-1.jpg') no-repeat center center/cover;
        min-height: 100%;
    }
    
    #home-info .info-content {
        float: right;
        width: 50%;
        height: 100%;
        text-align: center;
        padding: 50px 30px;
        overflow: hidden;
    }
    
    #home-info .info-content p {
        padding-bottom: 30px;
    }
    /* Features */
    
    .box {
        float: left;
        width: 33.33%;
        text-align: center;
        padding: 20px;
    }
    
    .box i {
        margin-bottom: 10px;
    }
    /* About */
    
    #about-info .info-right {
        float: right;
        width: 50%;
        min-height: 100%;
    }
    
    #about-info .info-right img {
        width: 70%;
        margin: auto;
        display: block;
        border-radius: 10px;
    }
    
    #about-info .info-left {
        float: left;
        width: 50%;
        min-height: 100%;
    }
    /* Testimonials */
    
    #testimonials {
        height: 100%;
        background: url('../img/test-bg.jpg') no-repeat repeat center center/cover;
        padding-top: 100px;
    }
    
    #testimonials .testimonial img {
        float: left;
        width: 100px;
        margin-right: 20px;
        border-radius: 50%;
    }
    
    #testimonials .testimonial {
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 40px;
        opacity: 0.8;
    }
    
    #testimonials h2 {
        color: white;
        text-align: center;
        padding-bottom: 40px;
    }
    /* Contact Form */
    
    #contact-form .form-group {
        margin-bottom: 20px;
    }
    
    #contact-form label {
        display: block;
        margin-bottom: 5px;
    }
    
    #contact-form input,
    #contact-form textarea {
        width: 100%;
        padding: 10px;
        border: 1px #ddd solid;
    }
    
    #contact-form textarea {
        height: 200px;
        resize: none;
    }
    
    #contact-form input:focus,
    #contact-form textarea:focus {
        outline: none;
        border-color: #f7c08a;
    }
    /* Footer */
    
    #main-footer {
        text-align: center;
        background: #444;
        color: white;
        padding: 20px;
    }